/* General container for centering the form */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #5c6bc0, #3f51b5);
  }
  
  .register-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-group input:focus {
    border-color: #ff7043;
    outline: none;
  }
  
  .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #3a54e7;;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #465fea;
  }
  
  .link {
    text-align: center;
    margin-top: 10px;
  }
  
  .link a {
    color: #4c5fc9;;
    text-decoration: none;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  